@page "/"


<h1>Welcome to Copify</h1>

A search directory of musicial artists. You can find a bio on your favourite artist, see all their releases and view similar artists.
You can also see who is more popular by putting two artists head to head and see who wins based on their popularity.
